* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5efe6;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  padding: 2rem;
}
.container {
  background-color: #fff;
  width: 100%;
  max-width: 600px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.screen {
  padding: 2rem;
  text-align: center;
  display: none;
  width: 100%;
}
.screen.active {
  display: block;
}

.primary-btn {
  background: #e86a33;
  border: none;
  padding: 15px 25px;
  color: #fff;
  font-size: 1.1rem;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.1s ease;
}

.primary-btn:hover {
  background: #b94c1dc7;
}

.primary-btn:active {
  transform: translateY(5px);
}

h1 {
  color: #e86a33;
  font-size: 2rem;
  margin-bottom: 10px;
}

p {
  color: #333;
  margin-bottom: 10px;
}

/* Quiz Screen */

h4 {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 10px;
  color: #333;
}

.question-info {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 10px;
}

.answers {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.answer {
  color: #000;
  background: #f8f0e5;
  width: 100%;
  text-align: left;
  font-size: 15px;
  border: 2px solid #eadbc8;
  cursor: pointer;
  padding: 1rem;
  border-radius: 10px;
}

.answer:hover {
  background: #eadbc8;
  border-color: #dac0ae;
}

button {
  transition: background 0.3s ease;
}

.correct {
  background: #e6fff0;
  border-color: #a3f0c4;
  color: #28a745;
}

.incorrect {
  background: #fff0f0;
  border-color: #ffbdbd;
  color: #dc3545;
}

.progress-bar {
  height: 10px;
  background-color: #f8f0e5;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 20px;
}

.progress {
  height: 100%;
  background-color: #e86a33;
  width: 0%;
  transition: width 0.3s ease;
}

/* Result screen */
.result-info {
  background: #f8f0e5;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
}

h3 {
  color: #e86a33;
  font-size: 1.2rem;
}
